html{
    margin: 0;
    padding: 0;
}

body{
  margin: 0;
  padding:0;
}


.sm0{
    width: 40%;
    height: auto;
   display:inline-block;
    margin: 10px 60px;
}
.sm0 button{
    padding: 300px 200px;
    background: url(mide.jpg);
    background-size: cover;
    border: transparent;
    border-radius: 34px;
    box-shadow: 0 0 10px  rgb(150, 143, 143);
}
.sm1{
    width: auto;
    height: auto;
   display:inline-block;
  
}
.sm1 button{
    padding: 300px 200px;
    background: url(3d\ logo\ ex.jpg);
    background-size: cover;
    background-position: center;
    border: transparent;
    border-radius: 34px;
    box-shadow: 0 0 10px  rgb(150, 143, 143);
}
.sm2{
  width:  auto;
  height: auto;
  display: inline-block;
  margin: 0 60px;
  margin-bottom:20px;
}
.sm2 button{
    padding: 250px 450px;
    background:url(mide\ logo\ ex.jpg) ;
    background-size: cover;
    border: transparent;
    background-position: center;
    border-radius: 34px;
    box-shadow: 0 0 10px  rgb(150, 143, 143);

}
